@font-face {
    font-family: "Poppins";
    src: local("Poppins-Regular"),
     url("../fonts/poppins-regular-webfont.woff") format("woff"),
     url("../fonts/poppins-regular-webfont.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Medium"),
     url("../fonts/poppins-medium-webfont.woff") format("woff"),
     url("../fonts/poppins-medium-webfont.woff2") format("woff2");
     font-weight: 500;
     font-style: normal;
}

html {
    box-sizing: border-box;
    min-width: 576px;
    width: 1200px;
    background-color: var(--white);
    font-family: 'Poppins';
    margin: 0 auto;
    margin-bottom: 0px;
}

:root {
    --orange: #FC552F;
    --black: #07070C;
    --dgrey: #6E727E;
    --grey: #B3B3BA;
    --lgrey: #F4F4F6;
    --white: #ffffff;
    --dark: #1A1A1F;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

.head {
    width: 1200px;
    height: 102px;
}

.head-cont {
    align-items: center;
    justify-content: space-between;
}

.head-logo-link {
    color: var(--orange);
    font-size: 28px;
    font-weight: 500;
    width: 71px;
    height: 42px;
}

.list {
    color: var(--dgrey);
    font-size: 18px;
    font-weight: 400;
    padding: 7.5px 0;
}

.list-column {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-link {
    padding:  20px 10px;
    height: 27px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.ll1 {
    width: 54px;
}

.ll2 {
    width: 73px;
}

.ll3 {
    width: 54px;
}

.ll4 {
    width: 74px;
}


.head-button {
    background-color: var(--orange);
    color: var(--white);
    border: var(--orange);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    width: 166px;
    height: 54px;
    border-radius: 15px 50px 15px 50px;
    padding: 16px 20px 16px 20px;
    justify-content: center;
    font-family: 'Poppins';
}

.head-button Get Started {
    top: 0px;
    left: 0px;
}

.screen {
    width: 1200px;
}

.main-info {
    width: 1200px;
    height: 920px;
}

.info-img {
    width: 1000px;
    height: 720px;
    padding: 100px;
}

.first-col {
    flex-direction: column;
    width: 468.5px;
    height: 720px;
}

.f-c-text {
    width: 468.5px;
    height: 255px;
    margin-bottom: 40px;
    flex-direction: column;

}

.f-c-t1 {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    margin-bottom: 30px;
}

.f-c-t2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    opacity: 80%;
    color: var(--dgrey);
    margin: 0px;
    padding: 0px;
}

.f-c-buts {
    margin: 0px;
    padding: 0px;
    margin-right: 60.5px;
    margin-bottom: 40px;
}

.f-c-b1 {
    background-color: var(--orange);
    color: var(--white);
    border: var(--orange);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    width: 194;
    height: 63px;
    border-radius: 15px 50px 15px 50px;
    padding: 16px 20px 16px 20px;
    justify-content: center;
    font-family: 'Poppins';
    margin-right: 20px;
}

.f-c-b2 {
    background-color: transparent;
    color: var(--orange);
    border-color: var(--orange);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    width: 194px;
    height: 63px;
    border-radius: 15px 50px 15px 50px;
    padding: 16px 20px 16px 20px;
    justify-content: center;
    font-family: 'Poppins';
}

.f-c-panel {
    margin: 0px;
    padding: 0px;
    width: 468.5px;
    height: 321px;
    border-radius: 60px;
    background-color: var(--dark);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.panel-text {
    padding: 0px;
    margin: 0px;
    width: 388.5px;
    height: 84px;
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    padding-bottom: 53px;
}

.f-c-p-contact {
    background-color: var(--black);
    width: 388.5px;
    height: 74px;
    color: var(--white);
    align-items: center;
    justify-content: inherit;
    border-radius: 15px 44px 15px 44px;
}

.f-c-p-contact input::placeholder {
    color: var(--white);
}

input:focus {
    outline: none;
}

.fcp-text {
    padding: 23.5px 0px 23.5px 10px;
    border: none;
    background: transparent;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--white);
    width: 182.5px;
    height: 27px;
}

.fcp-cont-but {
    background-color: var(--orange);
    color: var(--white);
    border: var(--orange);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    width: 166px;
    height: 54px;
    border-radius: 15px 50px 15px 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins'
}

.second-col {
    width: 531.5px;
    height: 541.98px;
    border-radius: 40.33px;
    flex-direction: row;
    flex-wrap: wrap;
}

.s-c-col {
    flex-direction: column;
}

.panel1 {
    margin: 0px;
    padding: 0px;
    width: 233.89px;
    height: 143.56px;
    background-color: var(--orange);
    border-radius: 40.33px;
    margin-left: 45.97px;
    margin-bottom: 12.9px; 
}

.p1-text {
    padding: 0px;
    width: 100px;
    height: 80px;
    color: var(--white);
    align-items: flex-start;
    flex-direction: column;
    margin: 38.71px 66.95px 24.85px 66.95px;
}

.p1-t1 {
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 58px;
    font-weight: 500;
    font-size: 38.71px;
    line-height: 58.07px;
}

.p1-t2 {
    margin: 0px;
    padding: 0px;
    width: 33px;
    height: 22px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.circle {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 92.75px;
    height: 92.75px;
    border-radius: 100px;
    border: 5.65px solid var(--white);
    background-color: var(--black);
    justify-content: center;
    align-items: center;
}

.cir-text {
    width: 39px;
    height: 58px;
    font-weight: 500;
    font-size: 38.71px;
    line-height: 58.07px;
    color: var(--white);
}

.panel2 {
    width: 233.89px;
    height: 108.07px;
    background-color: var(--orange);
    border-radius: 40.33px;
    margin-left: 45.97px;
    margin-bottom: 12.9px; 
}

.p2-text {
    padding: 0px;
    width: 93px;
    height: 56px;
    color: var(--white);
    align-items: flex-start;
    flex-direction: column;
    margin: 25.81px 70.72px 26.27px 70.17px;
}

.p2-t1 {
    margin: 0px;
    padding: 0px;
    width: 93px;
    height: 34px;
    font-size: 22.58px;
    font-weight: 500;
    line-height: 33.87px;
}

.p2-t2 {
    margin: 0px;
    margin: 0px;
    width: 46px;
    height: 22px;
    font-size: 14.52px;
    font-weight: 500;
    line-height: 21.78px;
}

.main-small {
    width: 233.89px;
    height: 264.54px;
    border-radius: 40.33px;
    margin-left: 17.74px;
    margin-bottom: 12.9px; 
}

.main-big {
    width: 485.53px;
    height: 264.54px;
    border-radius: 40.33px;
    margin-left: 45.97px;
}

.exp-cont {
    width: 1000px;
    height: 712px;
    padding: 100px;
    flex-direction: column;
}


.exp-main-text {
    width: 1000px;
    height: 72px;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    justify-content: center;
    margin-bottom: 50px;
}

.exp-word {
    font-weight: 500;
    color: var(--orange);
}

.exp-rows {
    width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
}

.exp-containers {
    width: 316px;
    height: 285px;
    border-radius: 40px;
    border: 2px solid var(--lgrey);
    margin-bottom: 20px;
}

.exp-containers:not(:nth-child(3)):not(:nth-child(6)) {
    margin-right: 20px;
}

.exp-texts {
    padding: 20px 30px 20px 30px;
    flex-direction: column;
    align-items: center;
}

.exp-t1 {
    margin: 0px;
    width: 260px;
    height: 36px;  
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
}

.exp-t2 {
    margin: 0px;
    width: 260px;
    height: 189px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--dgrey);
}

.questions {
    padding: 0px;
    width: 1200px;
    height: 1342px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ques-screen {
    margin: 0px;
    width: 1100px;
    height: 1241px;
    border: 1.5px solid var(--lgrey);
    padding: 50px;
    border-radius: 70px;
    justify-content: center;
    flex-direction: column;
}

.ques-info {
    margin: 0px auto;
    width: 1000px;
    height: 320px;
    border-radius: 60px;
    background-color: var(--lgrey);
    padding: 50px 50px 0px 50px;   
    flex-direction: column;
    text-align: center;
}

.q-i-t1 {
    padding: 0px;
    margin: 0px auto;
    width: 1000px;
    height: 72px;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: var(--black);
    margin-top: 87px;
    margin-bottom: 20px;
}

.q-i-t2 {
    padding: 0px;
    margin: 0px auto;
    width: 546px;
    height: 54px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--grey);
    margin-bottom: 87px;
}

.ques-answer {
    width: 1000px;
    height: 512px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    margin-top: 40px;
    padding: 40px 50px 40px 50px;
    margin-bottom: 40px
}

.block {
    margin: 0px;
    padding: 0px;
    width: 490px;
    border-radius: 20px;
    border: 1px solid var(--lgrey);
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.block6 {
    margin: 0px;
    padding: 0px;
    width: 490px;
    border-radius: 20px;
    border: 1px solid var(--lgrey);
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.q-a-1 {
    height: 76px;
    margin-right: 16px;
}

.q-a-2 {
    height: 76px;
}

.q-a-3 {
    height: 112px;
    margin-right: 16px;
}

.q-a-4 {
    height: 76px;
}

.q-a-5 {
    height: 112px;
    margin-right: 16px;
}

.q-a-6 {
    height: 284px;
}

.plus-sq-big1 {
    margin: 0px;
    width: 31px;
    height: 31px;
    padding: 6.26px;
    margin-right: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.plus-sq-big2 {
    margin: 0px;
    width: 31px;
    height: 31px;
    padding: 6.26px;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}
.plus-sq-big3 {
    margin: 0px;
    width: 31px;
    height: 31px;
    padding: 6.26px;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.plus-sq-big4 {
    margin: 0px;
    width: 31px;
    height: 31px;
    padding: 6.26px;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.plus-sq-big5 {
    margin: 0px;
    width: 31px;
    height: 31px;
    padding: 6.26px;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.plus-sq-big6 {
    margin: 0px;
    width: 31px;
    height: 31px;
    padding: 6.26px;
    margin-top: 16px;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.p-sq-sm {
    margin: 0px;
    padding: 0px;
    width: 18.47px;
    height: 18.47px;
    flex-wrap: wrap;
    align-content: center;
}

.stick1 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 18.47px;
    border: 1.6px solid var(--black);
    transform: rotate(90deg);
    border-radius: 2px;
}

.stick2 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 18.47px;
    border: 1.6px solid var(--black);
    border-radius: 2px;
}

.stick3 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 18.47px;
    border: 1.6px solid var(--black);
    transform: rotate(45deg);
    border-radius: 2px;
}

.stick4 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 18.47px;
    border: 1.6px solid var(--black);
    transform: rotate(-45deg);
    border-radius: 2px;
}

.qa1-t {
    margin: 0px;
    width: 409px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
    padding: 20px 20px 20px 0px;
}

.qa2-t {
    margin: 0px;
    width: 409px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
    padding: 20px 20px 20px 10px;
}

.qa3-t {
    margin: 0px;
    width: 409px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
    padding: 20px 20px 20px 10px;
    align-items: center;  
}

.qa4-t {
    margin: 0px;
    width: 409px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
    padding: 20px 20px 20px 10px;
}

.qa5-t {
    margin: 0px;
    width: 409px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
    padding: 20px 20px 20px 10px;
    align-items: center;  
}

.qa6-t {
    margin: 0px;
    width: 409px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
    padding: 20px 20px 20px 10px;
    align-items: center;  
}

.qa6-t2 {
    width: 365px;
    height: 162px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 10px 62.5px 20px 62.5px;
    color: var(--grey);
}

.banner {
    padding: 0px;
    margin: 0px auto;
    width: 1000px;
    height: 230px;
    border-radius: 60px;
    background-color: var(--orange);
}

.items {
    width: 880px;
    height: 73px;
    padding: 78.5px 60px;
    align-items: center;
    justify-content: space-between;
}

.b-texts {
    margin-right: 5px;
    color: var(--white);
}

.ban-but {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    width: 257px;
    height: 63px;
    border-radius: 15px 50px 15px 50px;
    padding: 16px 20px 16px 20px;
    justify-content: center;
    font-family: 'Poppins';
}

.b-t1 {
    padding: 0px;
    margin: 0px;
    width: 613px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}

.b-t2 {
    padding: 0px;
    margin: 0px;
    width: 613px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.footer {
    margin: 0px;
    padding: 0px;
    width: 1200px;
    height: 741px;
    background-color: var(--black);
    color: var(--white);
}

.f-min {
    width: 1000px;
    height: 641px;
    border-radius: 60px;
    padding: 50px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px auto;
}

.f-fir-col {
    margin: 0px auto;
    width: 1020px;
    height: 163px;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.f-logo {
    width: 1020px;
    height: 56px;
    margin: 90px 0px 20px 0px;
    justify-content: center;
}

.f-logo-link {
    width: 71px;
    height: 42px;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    margin: 0px auto;
    padding: 7px 0px 7px 0px;
}

.f-nav {
    margin-bottom: 20px;
}

.nav-list {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    width: 1020px;
    height: 43px;
    align-items: center;
}

.f-l-link1 {
    width: 50px;
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.44px;
    padding: 10px 20px;
}

.f-l-link2 {
    width: 67px;
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.44px;
    padding: 10px 20px;
}

.f-l-link3 {
    width: 52px;
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.44px;
    padding: 10px 20px;
}

.f-l-link4 {
    width: 68px;
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.44px;
    padding: 10px 20px;
}

.f-lists:not(:last-child) {
    margin-right: 10px;
}

.nav-links {
    width: 1020px;
    height: 24px;
    justify-content: center;
    margin: 0px auto;
    padding: 0px;
}

.n-l-1 {
    margin: 0px;
    padding: 0px;
    width: 157px;
    height: 24px;
    margin-right: 40px;
}

.n-l-2 {
    margin: 0px;
    padding: 0px;
    width: 202px;
    height: 24px;
    margin-right: 40px;
}

.n-l-3 {
    margin: 0px;
    padding: 0px;
    width: 162px;
    height: 24px;
}

.map, .pochta, .inst {
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.mail1 {
    width: 24px;
    height: 24px;
    margin-right: 14px;
}

.mail2 {
    width: 24px;
    height: 24px;
    margin-right: 14    px;
}

.nl1-t {
    margin: 0px;
    padding: 0px;
    width: 126px;
    height: 23px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
}

.nl2-t {
    margin: 0px;
    padding: 0px;
    width: 164px;
    height: 23px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
}

.nl3-t {
    margin: 0px;
    padding: 0px;
    width: 124px;
    height: 23px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
}

.line {
    width: 1020px;
    border: 1px solid var(--dgrey);
    opacity: 20%;
    margin-top: 40px;
}

.f-sec-col {
    margin: 0px;
    padding: 0px;
    width: 1020px;
    height: 236px;
    border-radius: 60px;
    border: 1px solid var(--dgrey);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    background-color: var(--dark);
    margin-bottom: 40px;
}

.fc-t {
    margin: 0px;
    padding: 0px;
    width: 268px;
    height: 126px;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    margin: 55px 53px 55px 71.5px
}

.fc-contact {
    background-color: var(--black);
    width: 556px;
    height: 74px;
    color: var(--white);
    align-items: center;
    justify-content: inherit;
    border-radius: 15px 44px 15px 44px;
    margin: 81px 71.5px 81px 0px;
}

.fc-contact input::placeholder{
    color: var(--white);
}

.fc-inp {
    padding: 23.5px 82px 23.5px 20px;
    border: none;
    background: transparent;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--white);
    width: 268px;
    height: 27px;
}

.fc-but {
    background-color: var(--orange);
    color: var(--white);
    border: var(--orange);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    width: 166px;
    height: 54px;
    border-radius: 15px 50px 15px 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    margin: 10px 20px 10px 0px;
}

.markers {
    margin: 0px auto;
    padding: 0px;
    width: 1020px;
    height: 27px;
}

.m-texts {
    margin: 0px;
    padding: 0px;
    width: 1020px;
    height: 27px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.mt-t1 {
    margin: 0px;
    padding: 0px;
    width: 333.33px;
    height: 27px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-right: 10px;
    justify-content: flex-start;
}

.mt-t2 {
    margin: 0px;
    padding: 0px;
    width: 333.33px;
    height: 27px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-right: 10px;
    justify-content: center;
}

.mt-t3 {
    margin: 0px;
    padding: 0px;
    width: 333.33px;
    height: 27px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    justify-content: flex-end;
}

button:hover {
    opacity: 85%;
}

button:active {
    color: var(--grey);
}

a:hover {
    opacity: 60%;
}

@media (max-width:812px){
    html{
        width: 812px;
    }

    .head {
        width: 810px;
        height: 94px;
        margin-left: 100px;
    }

    .container {
        width: 730px;
        height: 54px;
    }

    .head-logo-link {
        width: 49px;
        height: 27px;
        font-size: 18px;
    }

    .list-link {
        height: 21px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .ll1 {
        width: 41px;
    }

    .ll2 {
        width: 57px;
    }

    .ll3 {
        width: 42px;
    }

    .ll4 {
        width: 57px;
    }

    .screen {
        width: 812px;
    }

    .main-info {
        width: 812px;
        height: 1092.98px;
    }

    .info-img {
        width: 732px;
        height: 892.98px;
        flex-direction: column;
    }
    
    .first-col {
        width: 732px;
        height: 301px;
        flex-direction: column;
        justify-content: center;
        margin: 100px 40px 50px 40px;
    }

    .f-c-text {
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        width: 732px;
        height: 198px;
        margin-bottom: 30px;
    }

    .f-c-t1 {
        margin: 0px auto;
        padding: 0px;
        width: 732px;
        height: 114px;
        font-size: 38px;
        font-weight: 500;
        line-height: 57px;
        text-align: center;
    }

    .f-c-t2 {
        margin: 0px auto;
        padding: 0px;
        width: 732px;
        height: 54px;
        opacity: 0.8;
        text-align: center;
    }

    .f-c-buts {
        margin: 0px auto;
        padding: 0px;
        width: 408px;
        height: 63px;
    }

    .f-c-panel {
        display: none;
    }

    .second-col {
        margin: 0px auto;
        padding: 0px;
        width: 531.5px;
        height: 541.98px;
        border-radius: 40.33px;
    }

    .explanation {
        width:  810px;
        height: 727px;
    }

    .exp-cont {
        width: 730px;
        height: 527px;
    }

    .exp-main-text {
        width: 730px;
        height: 57px;
        font-size: 38px;
        font-weight: 500;
        line-height: 57px;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .exp-rows {
        width:  730px;
        height: 420px;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px auto;
        padding: 0px;
    }

    .exp-containers {
        width: 355px;
        height: 200px;
    }

    .ec-1 {
        margin-right: 13px;
    }

    .ec-3 {
        margin-right: 13px;
    }


    .exp-containers:not(:nth-child(3)):not(:nth-child(6)) {
        margin-right: 0px;
    }

    .exp-texts {
        width:  295px;
        height: 160px;
    }

    .exp-t1 {
        width: 295px;
        height: 160px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .exp-t2 {
        width: 295px;
        height: 105px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .exp-containers:nth-child(5) {
        display: none;
    }

    .exp-containers:nth-child(6) {
        display: none;
    }

    .questions {
        width: 810px;
        height: 1336px;
        margin: 0px auto;
    }

    .ques-screen {
        width: 730px;
        height: 1236px;
        margin: 50px 40px;

    }

    .ques-info {
        width: 630px;
        height: 320px;
        justify-content: center;
    }

    .q-i-t1 {
        width: 630px;
        height: 114px;
        font-weight: 500;
        font-size: 38px;
        line-height: 57px;   
    }

    .q-i-t2 {
        width: 546px;
        height: 54px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin: 20px 42px 66px 42px;
    }

    .ques-answer {
        width: 630px;
        height: 506px;
        margin-bottom: 40px;
    }

    .block {
        width: 305px;
        height: 94px;
    }

    .q-a-6 {
        width: 305px;
        height: 278px;
    }

    .qa1-t , .qa2-t, .qa3-t, .qa4-t, .qa5-t {
        width: 224px;
        height: 54px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .qa6-t {
        width: 224px;
        height: 81px;
        font-size: 18px;
        line-height: 27px;
    }

    .qa6-t2 {
        width: 265px;
        height: 147px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 0px 20px 20px 20px;
    }

    .banner {
        width: 630px;
        height: 230px;
        margin: 0px 50px 50px 50px;
    }
    
    .items {
        width: 510px;
        height: 127px;
        padding: 51.5px 60px 51.5px 60px;
        margin: 0px auto;
    }

    .b-texts {
        width: 243px;
        height: 127px;
    }

    .b-t1 {
        width: 243px;
        height: 36px;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }

    .b-t2 {
        width: 243px;
        height: 81px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }

    .ban-but {
        width: 257px;
        height: 63px;
    }

    .footer {
        width: 812px;
        height: 811px;
        margin: 50px;
    }

    .f-min {
        width: 712px;
        height: 711px;
        padding: 50px;
    }

    .f-fir-col {
        width: 632px;
        height: 163px;
    }

    .f-logo {
        width: 632px;
        height: 56px;
    }

    .nav-list {
        width: 632px;
        height: 43px;
    }
    
    .nav-links {
        width: 632px;
        height: 24px;
    }

    .line {
        width: 632px;
    }

    .f-sec-col {
        width: 632px;
        height: 279px;
        flex-direction: column;
        margin: 40px;
    }

    .fc-t {
        width: 632px;
        height: 42px;
        font-size: 28px;
        font-weight: 500;
        line-height: 42px; 
        margin: 55px 0px 53px 0px;
        justify-content: center;    
    }

    .fc-contact {
        width: 556px;
        height: 74px;
        margin: 0px 38px 55px 38px;
    }

    .markers {
        width: 632px;
        height: 54px;
    }

    .m-texts {
        width: 632px;
        height: 54px;
        margin: 0px 40px 55px 40px;
        flex-wrap: nowrap;
    }

    .mt-t1 {
        width: 204px;
        height: 27px;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .mt-t2 {
        width: 204px;
        height: 27px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .mt-t3 {
        width: 204px;
        height: 54px;
        justify-content: flex-end;
    }
}